:root {
  color-scheme: light dark;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#type-list {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  position: relative;
  pointer-events: none;
}

#type-list li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.shield {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 300ms;
}

.shield.active {
  opacity: 0.5;
  pointer-events: auto;
}
