:root {
  --c-background: #fff;
  --c-background-light: #eee;
  --c-text: #000;

  --o-shield: 0.15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #1c1c1c;
    --c-background-light: #555;
    --c-text: #fff;

    --o-shield: 0.35;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--c-background);
  color: var(--c-text);

  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#list-container {
  position: relative;
}

#type-list {
  display: grid;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
  gap: 20px;
  max-width: min(100vw - 40px, calc(6 * 60px + 5 * 20px));
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  position: relative;
}

#type-list li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

#shield {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 300ms;
}

body.active #shield {
  opacity: var(--o-shield);
  pointer-events: auto;
}

body.active type-legend {
  display: block;
}

type-legend {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  #type-list {
    padding-top: 20px;
  }

  type-legend {
    bottom: 20px;
  }
}
