:host {
  --size: 60px;
}

:host {
  transition:
    transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;

  overflow: visible;
  position: relative;
}

:host([hidden]) {
  display: none;
}

:host([checked]) {
  transform: scale(1.5);
  z-index: 2;
}

:host([checked]) .label {
  transform: translateY(50px);
}

:host([checked]) .details {
  transform: scale(1);
  margin: 0 10px;
}

:host([checked][data_placement*='left']) .details {
  left: 100%;
}

:host([checked][data_placement*='right']) .details {
  right: 100%;
}

:host([checked]) .shield {
  display: block;
  opacity: 0.5;
}

.label {
  position: absolute;
  padding: 3px 7px;
  transform: scale(0);
  transition: transform 300ms;
  border-radius: 7px;
}

:host([data_placement*='left']) .details {
  left: 0;
}

:host([data_placement*='right']) .details {
  right: 0;
}

:host([data_placement*='top']) .details {
  top: 0;
}

:host([data_placement*='bottom']) .details {
  bottom: 0;
}

.details {
  position: absolute;
  transform: scale(0);
  transition: right 300ms, left 300ms;
}

.info {
  text-decoration: none;
  color: inherit;
  
  box-sizing: border-box;
  padding: 10px;

  border-radius: 50%;
}
