:root {
  --c-light-normal: #DDDFDF;
  --c-light-fighting: #F1C0C9;
  --c-light-flying: #dce5f6;
  --c-light-poison: #e7cbef;
  --c-light-ground: #f2d6c6;
  --c-light-rock: #eee9d9;
  --c-light-bug: #dcebb9;
  --c-light-ghost: #cacee8;
  --c-light-steel: #c6dbe0;
  --c-light-fire: #FFDEC6;
  --c-light-water: #c6def2;
  --c-light-grass: #c9e8c7;
  --c-light-electric: #fbf1c0;
  --c-light-psychic: #fdd0d2;
  --c-light-ice: #d2f0ec;
  --c-light-dragon: #ACD1EA;
  --c-light-fairy: #f9dcf5;
  --c-light-dark: #c8c6cc;

  --c-normal: #999EA0;
  --c-fighting: #D6425F;
  --c-flying: #96b1e3;
  --c-poison: #b663ce;
  --c-ground: #d78656;
  --c-rock: #ccbe8e;
  --c-bug: #97c32f;
  --c-ghost: #606dba;
  --c-steel: #5492a1;
  --c-fire: #FF9C54;
  --c-water: #559bd9;
  --c-grass: #5fba57;
  --c-electric: #f4d543;
  --c-psychic: #f87378;
  --c-ice: #79d1c5;
  --c-dragon: #0876BF;
  --c-fairy: #ed95e0;
  --c-dark: #5b5467;


  --c-effective: #69c423;
  --c-effective-light: #d2eace;
  --c-ineffective: #f78360;
  --c-ineffective-light: #fcd5c9;
  --c-weak: #f9ed63;
  --c-counter: #1cb91c;
  --c-counter-light: #d2eace;
  --c-resistant: #e72323;
  --c-resistant-light: #fcdee0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-resistant: #ff0c0e;
    --c-counter: #0ACC0A;
  }
}
