:host {
  --color: #69c423;

  --width: 5px;
  --height: 5px;
  --border-radius: 50%;
}


/* Adapted from https://stackoverflow.com/a/14451916 */

.triangle {
  position: relative;
  background-color: var(--color);
  text-align: left;
}

.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
	width:  var(--width);
	height: var(--height);
  border-top-right-radius: var(--border-radius);
}

.triangle {
  transform:
    rotate(-60deg)
    skewX(-30deg)
    scale(1, 0.866);
}

.triangle:before {
  transform:
    rotate(-135deg)
    skewX(-45deg)
    scale(1.414, 0.707)
    translate(0, -50%);
}

.triangle:after {
  transform:
    rotate(135deg)
    skewY(-45deg)
    scale(0.707, 1.414)
    translate(50%);
}
