:host {
  --icon-size: 40px;
  --c-border: transparent;
}

.wrapper {
  border: calc(var(--icon-size) / 4) solid var(--c-border);

  border-radius: 50%;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
}
