:host {
  --size: 60px;

  --edge-inset: 35px;
}

:host {
  transition:
    transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;

  overflow: visible;
  position: relative;
}

:host([hidden]) {
  display: none;
}

:host([checked]) {
  transform: scale(1.25);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

:host([checked]) .label {
  transform: translateY(50px);
}

:host([checked]) .details {
  transform: scale(1) translate(-50%, -50%);
}


/* Screen edge overrides */

:host([data_placement*='left']) .details {
  --angle-multiplier: 1;
}

:host([data_placement*='right']) .list {
  --angle-multiplier: -1;
}

:host([data_placement*='top']) .list {
  --starting-angle: 90deg;
}

:host([data_placement='bottom center']) .list {
  --starting-angle: -90deg;
}

:host([checked]) {
  --m-x: 0;
  --m-y: 0;
  transform:
    scale(1.25)
    translateX(calc(var(--m-x) * var(--edge-inset)))
    translateY(calc(var(--m-y) * var(--edge-inset)));
}

:host([checked][data_placement='top left'].half),
:host([checked][data_placement*='left'].full) {
  --m-x: 1;
}

:host([checked][data_placement='top right'].half),
:host([checked][data_placement*='right'].full) {
  --m-x: -1;
}

:host([checked][data_placement='bottom left'].half),
:host([checked][data_placement='bottom right'].half),
:host([checked][data_placement*='bottom'].full) {
  --m-y: -1;
}

:host([checked][data_placement*='top'].full) {
  --m-y: 1;
}

.details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.info {
  text-decoration: none;
  color: inherit;
  
  box-sizing: border-box;
  padding: 10px;

  border-radius: 50%;

  position: relative;
}
