:host {
  --icon-size: 60px;
  --c-border: transparent;
}

.wrapper {
  border-radius: 50%;
  overflow: visible;
}

.icon {
  border-radius: 50%;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
}

.icon.secondary {
  width: calc(var(--icon-size) / 2);
  height: calc(var(--icon-size) / 2);
  position: absolute;
  right: 33px;
  top: 33px;
  box-shadow: -1px 1px 5px 0;
}



:host([data_placement*='bottom']) .icon.secondary,
:host([data_placement*='right']) .icon.secondary {
  left: 33px;
  box-shadow: 1px 1px 5px 0;
  right: auto;
}
