:host {
  --angle: 33deg;
  --starting-angle: 0deg;
  --angle-multiplier: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.list {
  width: 60px;
  height: 60px;
}

.wrapper {
  --num: 0;

  --angle-calc: calc(var(--angle-multiplier) * (var(--starting-angle) + var(--angle) * var(--num)));

  position: absolute;
  bottom: 50%;
  left: 25%;
  transform-origin: bottom center;
  transform: rotate(var(--angle-calc));
  transition: padding-bottom 300ms;
}

:host([checked]) .wrapper {
  padding-bottom: 45px;
  transform: rotate(var(--angle-calc));
}

:host([checked]) .wrapper.emph {
  padding-bottom: 50px;
}

.wrapper.emph type-icon {
  --c-border: var(--color);
}

.relationship {
  pointer-events: auto;
}

.icon {
  transform: rotate(calc(-1 * var(--angle-calc)));
  border-radius: 50%;
}

:host([checked]) .icon {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

triangle-icon {
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.emph triangle-icon {
  --width: 9px;
  --height: 9px;
  top: 45%;
}

triangle-icon.toward {
  top: 46%;
}

triangle-icon.away {
  transform: translateX(-50%) scale(-1);
}
